/*fonts*/
@font-face {
  font-family: 'quicksandregular';
  src: url(../../fonts/quicksand-regular-webfont.woff2) format('woff2'),
       url(../../fonts/quicksand-regular-webfont.woff) format('woff');
  font-weight: bolder;
  font-style: normal;
}
/*основные стили*/
html {
  background-color: rgb(255 255 255 / 97%);
  color: rgb(12 12 12);
  font-size: 10px;
  font-family: 'Franklin Gothic Medium', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  width: auto;
  min-width: 800px;
  margin: 0;
  padding: 0 0 0 0;
}

/*стили расположения размера и цвета*/
/*Заголовок, навигация*/

nav{
  margin-top: 2rem;
  margin-right: 7rem;
  margin-left: 5.5rem;
  display: flex;
  flex:100%;
  justify-content: space-between;
}
nav ul{
  display: flex;
  flex:1;
  justify-content: space-between;
}
  
nav li{
  display: inline;
}
nav a {
  font-family: 'quicksandregular';
  display: inline-block;
  font-size:2.9rem;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0, 113, 210, 1);
}
/*тело страницы */
main {
  display: flex;
  width: 100%;
}
article {
  display: inline;
  justify-content: space-around;
  width: 100%;
  margin: 2rem 5rem 0 4rem;
}
h1 {
  font-family: 'quicksandregular';
  font-size: 3rem;
  color: rgba(0, 113, 210, 1);
  text-shadow: 0 0 0 rgb(252, 252, 252);
  letter-spacing: 3px;
  padding-left: 26rem;
  padding-top: 5rem;
  padding-bottom: 1rem;
}

h2 {
  font-size: 4rem;
  text-align: center;
  color:rgb(255, 255, 255);
  background-color: rgba(0, 113, 210, 1);;
  margin-bottom: 0;
  padding-bottom: 1rem;
  margin-top: 5rem;

}
.info {
  justify-content: stretch;
  max-width: 100%;
  padding-left: 3rem;
}
.info p{
  font-size: 3rem;
  text-align: center;
  color:rgba(0, 113, 210, 1);
  margin: 0;
  padding-top: 2rem;
  text-align: left;
}
.info ul{
  font-size: 3rem;
  color:rgba(0, 113, 210, 1); 
}
.button{
  display: grid;
  grid-template-columns: 120px 120px;
  gap: 1.5rem;
  max-width: 100%;
  margin-top: 10rem;
  margin-left: 8.5rem;
}
.button a{
  text-decoration: none;
  }
.button_contact {
  margin-top: 5%;
  height: 60px;
  width: 180%;
  border: 1px solid rgba(0, 113, 210, 1);
  text-align: center;
}
.button_contact p{
 padding: 5%;
 font-size: 3rem;
 color: rgba(0, 113, 210, 1);
 text-align: center;
}
.button_cv {
  margin-top: 5%;
  margin-left: 11rem;
  height: 60px;
  width: 180%;
  border: 1px solid rgba(0, 113, 210, 1);
  text-align: center;
  background-color: rgba(0, 113, 210, 1);
}
.button_cv p{
padding: 5%;
font-size: 3rem;
color: white;
text-align: center;
}


.equipment{
  display: flex;
  justify-content:space-around;
  gap: 2rem;
  flex-wrap: wrap;
  padding-top: 5rem;
  padding-left: 2rem;
  margin-left: 0;
  max-width: 90%;
}
.equipment a:hover{
  background-color: white;
  color:rgba(0, 113, 210, 1);

}
a > div{
display:block;
border: 1px solid rgba(0, 113, 210, 1);
border-radius: 2rem;
max-width: 28rem;
height: 32rem;
background-color: rgba(0, 113, 210, 1);
}
a > div:hover{
  color: white;
  background-color: rgba(0, 113, 210, 1);
}
.equipment img{
  border-radius: 2rem 2rem 0 0;
  width: 100%;
}
.equipment p{
  font-size: 2rem;
  padding: auto;
  text-align: center;
  color: white; 
}
.button a{
  text-decoration: none;
  }
/*колантитул*/
footer img{
  padding-left: 0;
  padding-top: 0;
  max-width: 38px;
}
footer {
  flex: 100%;
  display: flex;
  max-width: 55%;
  margin-top: 20rem;
  margin-left: 15.5rem;
  margin-right: 5.2rem; 
  margin-bottom: 10rem;
}
footer ul{
  flex: 1;
  display: flex;
  justify-content: space-between;
}
footer li {
  display: inline;
} 
footer a{
  display: inline-block;
  border: 0 solid white;
  border-radius: 99999999999999999999999px; 
}
footer a:hover{
  background-color: rgba(0, 113, 210, 1);
}
.logo{
  max-width: 3rem;
  padding: 2px 2px 0 0;
  }
  article a{
    text-transform: uppercase;
    text-decoration: none;
  }
@media screen and (min-width: 800px){

header{
 display: grid;
 grid-template-columns: auto auto;
 position: relative;
 top: 2rem;
 width: 98%;
 max-height: 2rem;
 margin-bottom: 2rem;
 margin-left: 1.8rem;
}

header h1{
display: grid;
grid-template-columns: auto auto;
}

.logo{
max-width: 2rem;
padding: 2px 2px 0 0;
}


nav {
 flex: 100%;
 display: flex;
 margin-left: 24rem;
 margin-right: 13.5rem;
 padding-bottom: 2rem;
}
  
nav ul {
 justify-content: space-between;
 margin: auto;
 flex: 2;
 display: flex;
}
  
nav li {
 display: inline;
 text-align: center;
 flex: 1;
}

nav a {
 display: inline-block;
 font-size: 2.1rem;
 height: 3rem;
 line-height: 1.7;
 width: 100%;
 letter-spacing: 2px;
}
nav a:hover{
  background-color: rgba(0, 113, 210, 1);
  color: white;
}

h1{
 justify-content: left;
 font-size: 2.0rem;
 margin-left: 15rem;
 padding: 0.8rem;
 color: rgba(0, 113, 210, 1);
 text-align: left;
}

article {
  display: flex;
  justify-content: space-around;
  column-gap: 20px;
  margin-top: 12rem;
  padding-left: 11rem;
  width: 100%;
  align-items:stretch;
}

.info {
  padding-left: 0rem;
  margin-right: 0rem;
  margin-left: 0;
  padding-top: 0rem;
  align-items: center;
  text-align: left;

}

.info p{
 max-width: 85%;
 font-size: 2rem;
 padding: 20px 8px 0 0;
 text-align: left;
}

.info ul{
  font-size: 2rem;
  color:rgba(0, 113, 210, 1); 
}

.button{
  align-items: end;
  display: grid;
  grid-template-columns: 120px 120px;
  gap: 1.5rem;
  margin-top: 2rem;
  margin-left: 78%;
}

.button_contact {
  margin-top: 5%;
  height: 40px;
  width: 100%;
  text-align: center;
  font-size: 0.5rem;
}

.button_contact p{
  padding: 8%;
  font-size: 1.7rem;
  text-align: center;
}

.button_cv{
  margin: 0;
  width: 100%;
  margin-top: 5%;
  height: 40px;
}

.button_cv p{
  padding: 8%;
  font-size: 1.6rem;
  text-align: center;
}

h2 {
  font-size: 5rem;
  max-width: 89.9%;
  margin-bottom: 2rem;
  margin-top: 0;
  padding: 0 20px 0 5rem;
  letter-spacing: 4px;
  text-align: left;
}
/* добовление картинок и продукци*/
.equipment{
  display: flex;
  justify-content:space-around;
  gap: 2rem;
  flex-wrap: wrap;
  padding-top: 4rem;
  padding-left: 0;
  margin-left: 0;
  max-width: 95%;
}
.equipment a:hover{
  background-color: white;
  color:rgba(0, 113, 210, 1);

}
article a{
  text-transform: uppercase;
  text-decoration: none;
}
article a:hover{
  font-style:oblique;
  font-size:larger;
font-weight: 500;

}

a > div{
display:block;
border: 1px solid rgba(0, 113, 210, 1);
border-radius: 2rem;
max-width: 50rem;
height: 55rem;
background-color: rgba(0, 113, 210, 1);
}
a > div:hover{
  color: white;
  background-color: rgba(0, 113, 210, 1);
}
.equipment img{
  border-radius: 2rem 2rem 0 0;
  width: 50rem;
}
.equipment p{
  padding: 25% 8% 8% 8%;
  text-align: center;
  color: white; 
}
.button a{
  text-decoration: none;
  }

footer img{
   max-width: 25px;
   padding-right: 0px;
}
footer {
  max-width: 20%;
  justify-content: space-around;
  margin-top: 5rem;
  margin-left: 6%;
  margin-bottom: 0rem;
}

footer ul{
  flex: 1;
  display: flex;
  justify-content: space-between;
}

footer li {
  display: inline;
}

footer a{
  display: inline-block;  
}
}
